# Environment files
.env
.env.*
!.env.example
!.env.*.example

# Dependencies
node_modules/
vendor/

# Build output
.next/
out/
build/
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
.pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Docker / local runtime
*.pid

#file lokal
ALUR_PENGERJAAN.md
Peserta_FullStack.pdf
Peserta_FullStack.md
Proposal_Inaai_Fullstack_Veri_Marsil_Marpaung.md